body{
    background-color: #dddddd;
}
.color-main-bg{
    background-color: #66ccff;
}

.content-bd{
    border: #66ccff 4px solid;
}

.content-color{
    color: #cf1232;
}
.news-bg{
    border:#66ccff 4px solid;
}
.news-title-color{
    color: #cf1232;
    /*background-color: #eeeeee;*/
}
.news-more-color{
    color: #000000;
}