body{
    background-color: #dddddd;
}
.color-main-bg{
    background-color: #66ccff;
}
.main-blue{
    color: #66ccff;
}
.main-red{
    color: #cf1232;
}
.content-bd{
    border: #66ccff 4px solid;
}

.content-color{
    color: #cf1232;
}
.news-bg{
    border:#66ccff 2px solid;
    background-color: #ffffff;
}
.news-title-color{
    color: #cf1232;
    /*background-color: #66ccff;*/
}
.news-more-color{
    color: #000000;
}
.content{
    background-color: #ffffff;
}
.mailto{
    color: #2a6496;
}