body{
    font-family: "Microsoft YaHei UI";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    color: #66ccff;
}
.banner{
    /*待改进*/
    text-align: center;
    position: relative;
    padding: 15% 0;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
    background: #020031;
    background: -moz-linear-gradient(45deg,#020031 0,#6d3353 100%);
    /*background: -moz-linear-gradient(45deg, #640ac5 0, #d6226b 100%);*/
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#020031),color-stop(100%,#6d3353));
    background: -webkit-linear-gradient(45deg,#020031 0,#6d3353 100%);
    background: -o-linear-gradient(45deg,#020031 0,#6d3353 100%);
    background: -ms-linear-gradient(45deg,#020031 0,#6d3353 100%);
    background: linear-gradient(45deg,#020031 0,#6d3353 100%);
    /*background: linear-gradient(45deg, #141414 0, #d22a29 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#640ac5', endColorstr='#d6226b', GradientType=1);*/
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
}
.banner-info {
    padding-bottom: 10px;
    text-align: center;
}
.banner-info ul{
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.banner-info ul li {
    display: inline-block;
    line-height: 1;
    padding: 0 10px 0 10px;
}
.jumbotron{
    margin-bottom: 10px;
}
.main-content{
    min-height: 600px;
}
.unit{
    margin-top: 3%;
}
.unit-title{
    text-align: center;
}
.unit-title span{
    font-size: 26px;
}
.tips{
    font-size: 24px;
}
.news{
    /*padding: 0px;*/
}
.news>div{
    padding: 0px;
}
.news-title{
    /*padding: 0px;*/
    margin-bottom: 5px;
    font-size: 20px;
}
.news-time{
    text-align: right;
}
.news-more{
    font-size: 20px;
    text-align: right;
    /*margin: 5px 0;*/
    padding-right: 15px;
}
.news-more a:hover{
    text-decoration: none;
}
.content{
    font-size: 22px;
    line-height: 1.8;
    padding-bottom: 50px;
}

.move-top{
    position: fixed;
    display: block;
    bottom: 86px;
    right: 300px;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px;
}
